body {
  min-height: 100vh;
  background-color: #e9ebf2;
}

.header-container {
  background-color: white;
    /* width: 680px; */
    max-width: 100%;
    border-radius: 20px;
    margin: 20px;
}

.welcome {
  padding: 20px 0px 0px 40px;
  margin-bottom: -10px;
}

.recipe-form {
  width: 400px;
  margin: auto;
  padding-bottom: 60px;
}

.recipe-form label{
  display: flex;
  justify-content: space-between;
  margin:20px;
}

.recipe-form input {
  width:230px;
}

.recipe-form button {
  margin: 10px;
}

.recipe-form-submit {
  margin-left:145px;
}

.meal-container {
  padding: 10px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  text-align: center;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
}

.meal-image {
  width:300px; 
  height:300px;
  border-radius:10px;
  display:block;
  background-position:center;
  background-size: cover;
}

.recipe-card-details {
  display: flex;
  justify-content: space-around;
  margin:10px;
}

.recipe-card-details-text {
  font-size: small;
  color: #757575;
}

.recipe-card-details-head {
  display: block;
}

.detail-button {
  width: 100%;
  padding: 9px;
  background-color: #ff5151;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}
.switch-button {
  width: 200px;
  padding: 9px;
  background-color: #ff5151;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 20px;
}

body > div.ReactModalPortal > div > div {
  position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin: auto;
    width: 600px;
}

.special {
  background-color: #ffff9b;
  padding: 1px;
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
